<script>
	import { breakpoint } from '#lib/stores'

	import Offcanvas from '#lib/Offcanvas.svelte'

	import Logo from '#lib/Logo.svelte'
	import Navbar from './Navbar.svelte'
	import Search from './Search.svelte'
	import Trends from './Trends.svelte'

	export let data

	// Mobile menu state
	let menuOpen = false

	function openMenu() {
		menuOpen = true
	}

	function closeMenu() {
		menuOpen = false
	}
</script>

<!--
	Instead of having duplicate content and using media query show/hide classes,
	we just render different templates for our different layouts instead.
-->
{#if ['xs', 'sm'].includes($breakpoint)}
	<!--
		Mobile layout: Single column + sticky header, navbar and search in an offcanvas element
	-->
	<header class="navbar bg-light sticky-top">
		<div class="container-fluid">
			<Logo className="navbar-brand" size="42" />

			<button class="navbar-toggler" type="button" on:click={openMenu}>
				<span class="navbar-toggler-icon" />
			</button>
		</div>
	</header>

	<Offcanvas title="Navigation" open={menuOpen} on:close={closeMenu}>
		<Navbar className="mt-4" />
		<Trends className="mt-4" trends={data.trends} />
		<Search className="mt-4" />
	</Offcanvas>

	<main class="container-fluid mt-3">
		<slot />
	</main>
{:else if ['md', 'lg'].includes($breakpoint)}
	<!--
		Tablet layout: 2-column layout, navbar + search on the left
	-->
	<div class="container">
		<div class="row">
			<aside class="col-4 col-lg-3">
				<Logo className="ms-3" />
				<Navbar className="mt-4" />
				<Trends className="mt-4" trends={data.trends} />
				<Search className="mt-4" />
			</aside>
			<main class="col-8 col-lg-9 mt-3">
				<slot />
			</main>
		</div>
	</div>
{:else}
	<!--
		Desktop layout: 3-columns as defined.
	-->
	<div class="container">
		<div class="row">
			<aside class="col-3">
				<Logo className="ms-3" />
				<Navbar className="mt-4" />
			</aside>
			<aside class="col-3 mt-3 order-last">
				<Search />
				<Trends className="mt-4" trends={data.trends} />
			</aside>
			<main class="col-6 mt-3">
				<slot />
			</main>
		</div>
	</div>
{/if}
