<script>
	import { goto, invalidateAll } from '$app/navigation'
	import NavLink from '#lib/NavLink.svelte'
	import EditorDialog from '#lib/EditorDialog.svelte'
	import createApiClient from '#lib/api'

	export let className = ''

	const client = createApiClient()

	let editorOpen = false

	async function logout(ev) {
		ev.preventDefault()
		await client.delete('/auth')
		await invalidateAll()
		await goto('/')
	}

	function openEditorDialog(ev) {
		ev.preventDefault()
		editorOpen = true
	}
</script>

<nav class={className}>
	<ul class="nav flex-column mb-4">
		<li class="nav-item mb-4">
			<a
				class="nav-link d-flex align-items-center fs-5 text-light bg-primary"
				href="/home"
				on:click={openEditorDialog}
			>
				<i class="bi bi-vector-pen fs-3 ms-2 me-3" />
				Othern
			</a>
		</li>

		<NavLink href="/home" icon="house-door-fill" title="Startseite" />
		<NavLink href="/me" icon="person-fill" title="Profil" />
		<NavLink href="/othlers" icon="people-fill" title="Nutzer" />
		<NavLink href="/settings" icon="gear-fill" title="Einstellungen" />

		<li class="nav-item mt-4">
			<a class="nav-link d-flex align-items-center fs-5 text-danger" href="/" on:click={logout}>
				<i class="bi bi-box-arrow-left fs-3 ms-2 me-3" />
				Logout
			</a>
		</li>
	</ul>
</nav>

{#if editorOpen}
	<EditorDialog on:close={() => (editorOpen = false)} />
{/if}
