<script>
	// export let className = ''
</script>

<!--
<form class={className}>
	<div>
		<label for="search" class="form-label text-muted"> OTHer durchsuchen </label>
		<input
			class="form-control"
			id="search"
			type="search"
			placeholder="@handle, #hashtag, ..."
			aria-label="OTHer durchsuchen"
		/>
	</div>
	<button class="d-block w-100 btn btn-outline-primary mt-2" type="submit"> Suchen </button>
</form>
-->
