<script>
	import { shortCount } from '#lib/format'

	export let trends
	export let className = ''
</script>

<div class="card {className}">
	<ul class="list-group list-group-flush">
		{#each trends as { hashtag, count }}
			<li class="list-group-item">
				<a class="fs-5" href={`/tag/${hashtag}`}>
					#{hashtag}
				</a>
				<br />
				<span class="small text-muted">
					{shortCount(count)} Others diese Woche
				</span>
			</li>
		{/each}
	</ul>
</div>
