<script context="module">
	let autoIncrement = 0
</script>

<script>
	export let value = false
	export let disabled = false
	export let required = false
	export let className = ''

	const id = `checkbox-${autoIncrement++}`
</script>

<div class="form-check {className}">
	<input class="form-check-input" type="checkbox" bind:checked={value} {id} {disabled} {required} />
	<label class="form-check-label" for={id}>
		<slot />
	</label>
</div>
