<script>
	import { createEventDispatcher } from 'svelte'
	export let className = ''
	export let icon = ''
	export let title = ''

	const dispatch = createEventDispatcher()

	function onClick(ev) {
		dispatch('click', ev)
	}
</script>

<button type="button" class="btn btn-sm btn-secondary {className}" on:click={onClick} {title}>
	<slot><i class="bi bi-{icon}" /></slot>
</button>
