<script>
	import { onMount, createEventDispatcher } from 'svelte'
	import Editor from '#lib/OtherEditor.svelte'

	let editorDialog

	const dispatch = createEventDispatcher()

	onMount(() => editorDialog.showModal())

	function onClose(ev) {
		dispatch('close', ev)
	}
</script>

<dialog class="dialog card" bind:this={editorDialog} on:close={onClose}>
	<div class="offcanvas-header">
		<h5 class="offcanvas-title">
			<i class="bi bi-vector-pen" />
			Othern
		</h5>
		<button type="button" class="btn-close" aria-label="Schließen" on:click={onClose} />
	</div>
	<Editor className="mt-3" on:post={onClose} autofocus />
</dialog>

<style>
	.dialog {
		max-width: 80ch;
		z-index: 10;
		overflow: hidden;
		height: min-content;
		width: 90vw;
		margin-top: 5em;
	}
</style>
