<script>
	import { createEventDispatcher, tick } from 'svelte'

	import EditorButton from '#lib/EditorButton.svelte'
	import EmbedPreview from '#lib/EmbedPreview.svelte'
	import { focus } from '#lib/actions'

	export let id = ''
	export let className = ''
	export let placeholder = ''
	export let autofocus = false

	export let value = ''
	export let embeds = null // bind to an array to get embeds to show up.
	export let error = ''

	const dispatch = createEventDispatcher()

	let textArea

	$: showEmbeds = Array.isArray(embeds)

	$: {
		value, tick().then(onInput) // re-trigger update whenever value changes.
	}

	async function post(ev) {
		ev.preventDefault()
		dispatch('post', ev)
	}

	function onInput() {
		if (!textArea) {
			return
		}

		// auto-resize
		textArea.style.height = 'auto'
		const height = textArea.scrollHeight + textArea.offsetHeight - textArea.clientHeight
		textArea.style.height = `${height}px`
	}

	function onBold() {
		wrapSelection('**', '**')
	}

	function onItalic() {
		wrapSelection('_', '_')
	}

	function onStrikethrough() {
		wrapSelection('~~', '~~')
	}

	function onCode() {
		inlineOrBlock('`', '```')
	}

	function onMath() {
		inlineOrBlock('$', '$$')
	}

	function onQuote() {
		prefixLines('>')
	}

	function onList() {
		prefixLines('-')
	}

	function onAddEmbed() {
		const input = document.createElement('input')
		input.type = 'file'
		input.accept = 'image/*, video/*'
		input.multiple = true

		const onFilesSelected = () => {
			for (const file of input.files) {
				const url = URL.createObjectURL(file)
				const embed = { url, file }
				embeds = (embeds.push(embed), embeds)
			}
		}

		input.addEventListener('change', onFilesSelected, { once: true })
		input.dispatchEvent(new MouseEvent('click'))
	}

	function onRemoveEmbed(idx) {
		embeds = (embeds.splice(idx, 1), embeds)
	}

	function prefixLines(prefix) {
		modifySelection((selectedText) => {
			const prefixed = selectedText
				.split('\n')
				.map((line) => `\n${prefix} ${line}`)
				.join('')
				.trim()

			return `\n${prefixed}\n\n`
		})
	}

	function inlineOrBlock(inline, block) {
		modifySelection((selectedText) => {
			const isMultiline = selectedText.includes('\n')
			if (isMultiline) {
				return '\n\n' + block + '\n' + selectedText.trim() + '\n' + block + '\n\n'
			} else {
				return (inline = selectedText + inline)
			}
		})
	}

	function wrapSelection(insertBefore, insertAfter) {
		modifySelection((selectedText) => insertBefore + selectedText + insertAfter)
	}

	async function modifySelection(modify) {
		const selectionStart = textArea.selectionStart
		const selectionEnd = textArea.selectionEnd

		const selectedText = value.substring(selectionStart, selectionEnd)

		const beforeSelection = value.substring(0, selectionStart)
		const afterSelection = value.substring(selectionEnd)

		const modified = modify(selectedText)
		value = beforeSelection + modified + afterSelection

		// wait for svelte to update the value prop
		await tick()

		// restore focus
		textArea.focus()
		textArea.setSelectionRange(
			selectionStart,
			selectionEnd + (modified.length - selectedText.length)
		)
	}
</script>

<form class="editor {className}" on:submit={post}>
	<textarea
		class="form-control"
		{id}
		{placeholder}
		bind:this={textArea}
		bind:value
		use:focus={autofocus}
	/>
	{#if showEmbeds && embeds.length}
		<div class="d-flex flex-wrap gap-2 mt-2">
			{#each embeds as embed, idx}
				<EmbedPreview embed={{ name: embed.url }} on:click={() => onRemoveEmbed(idx)} />
			{/each}
		</div>
	{/if}

	{#if error}
		<p class="text-danger small mt-2 mb-0">
			{error}
		</p>
	{/if}

	<div class="d-flex flex-wrap justify-content-between align-items-start">
		<div class="mt-2 d-flex gap-1">
			<EditorButton on:click={onBold} title="Fett" icon="type-bold" />
			<EditorButton on:click={onItalic} title="Kursiv" icon="type-italic" />
			<EditorButton on:click={onStrikethrough} title="Durchgestrichen" icon="type-strikethrough" />
			<EditorButton on:click={onCode} title="Code / Code-Block" icon="code-slash" />
			<EditorButton on:click={onMath} title="Formel"><span class="icon-math">∑</span></EditorButton>
			<EditorButton on:click={onQuote} title="Zitat" icon="quote" />
			<EditorButton on:click={onList} title="Liste" icon="list-ul" />

			{#if showEmbeds}
				<EditorButton on:click={onAddEmbed} title="Bild / Video hinzufügen" icon="card-image" />
			{/if}
		</div>

		<div class="mt-2 w-auto">
			<slot />
		</div>
	</div>
</form>

<style>
	.editor textarea {
		resize: none;
	}

	.icon-math {
		display: inline-block;
		vertical-align: 0.1em;
		width: 1em;
		font-family: 'Katex Math';
		font-size: 0.85em;
	}
</style>
