<script context="module">
	let autoIncrement = 0
</script>

<script>
	import { focus } from '#lib/actions'
	const id = `email-${autoIncrement++}`

	export let value = ''
	export let required = false
	export let readonly = false
	export let autofocus = false
	export let className = ''
</script>

<div class={className}>
	<label for={id} class="form-label text-muted"><slot /></label>
	<input
		{id}
		{required}
		{readonly}
		use:focus={autofocus}
		bind:value
		type="email"
		placeholder="max12345@st.oth-regensburg.de"
		autocomplete="email"
		class="form-control"
	/>
</div>
