<script>
	import Media from '#lib/Media.svelte'
	export let id
	export let name
	export let alt
	export let className = ''
</script>

<div class="embed {className}">
	<Media {id} {name} {alt} />
</div>

<style>
	.embed :global(img),
	.embed :global(video) {
		display: block;
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
		border-radius: var(--bs-border-radius-xl);
	}
</style>
