<script>
	import Embed from '#lib/Embed.svelte'
	import EmbedPreview from '#lib/EmbedPreview.svelte'

	export let className = ''
	export let embeds = []

	let currentIdx = 0
</script>

<div class={className}>
	<Embed {...embeds[currentIdx]} />

	{#if embeds.length > 1}
		<div class="d-flex flex-wrap gap-2 mt-2">
			{#each embeds as embed, idx}
				<EmbedPreview {embed} active={idx === currentIdx} on:click={() => (currentIdx = idx)} />
			{/each}
		</div>
	{/if}
</div>
