<script>
	import { createEventDispatcher } from 'svelte'
	import Embed from '#lib/Embed.svelte'

	export let active = false
	export let embed

	const dispatch = createEventDispatcher()

	function onClick(ev) {
		dispatch('click', ev)
	}
</script>

<div class="embed-preview" class:active>
	<button class="btn" on:click={onClick}>
		<Embed {...embed} className="preview" />
	</button>
</div>

<style lang="scss">
	.embed-preview {
		width: calc(50% - 1 / 2 * 0.5rem);

		.btn {
			padding: 0.25rem;
			border: 1px solid var(--bs-border-color);
			border-radius: var(--bs-border-radius-xl);
			background-color: white;
			transition: filter ease-out 0.15s;

			&:hover,
			&:focus-visible {
				filter: brightness(0.8);
			}

			&:active,
			&:focus-visible {
				box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
			}
		}

		&.active .btn {
			background-color: var(--bs-light);
			border-color: var(--bs-primary);
			border-width: 2px;
		}

		/* Need to :global here because we cannot pass local classes to a child component... */
		:global(.preview) {
			aspect-ratio: 1/1;
		}

		@include media-breakpoint-up(sm) {
			width: calc(33% - 2 / 3 * 0.5rem);
		}

		@include media-breakpoint-up(lg) {
			width: calc(20% - 4 / 5 * 0.5rem);
		}
	}
</style>
