<script>
	const videoExtensions = ['.webm', '.mp4', '.mov', '.mkv', '.avi', '.3gp', '.mp2', '.mpg', '.wmv']

	export let id
	export let name
	export let alt = ''
	export let className = ''

	$: src = id ? `/media/${id}/${name}` : name
	$: isVideo = name && videoExtensions.some((ext) => name.endsWith(ext))
</script>

{#if isVideo}
	<video class={className} aria-label={alt} title={alt} {src} autoplay playsinline loop>
		<track kind="captions" />
	</video>
{:else}
	<img class={className} {src} {alt} title={alt} />
{/if}
