<script>
	import { page } from '$app/stores'

	export let href
	export let title
	export let icon
	export let exact = false

	let active = false
	$: {
		const { pathname } = $page.url
		if (exact) {
			active = pathname === href
		} else {
			active = (pathname + '/').startsWith(href + '/')
		}
	}
</script>

<li class="nav-item">
	<a
		class="nav-link d-flex align-items-center fs-5"
		class:active
		aria-current={active ? 'page' : ''}
		{href}
	>
		<i class="bi bi-{icon} fs-3 ms-2 me-3" />
		{title}
	</a>
</li>
