<script>
	import { createEventDispatcher, onDestroy } from 'svelte'
	import { page } from '$app/stores'

	export let open = false
	export let title = ''

	const dispatch = createEventDispatcher()

	// Close an offcanvas element whenever we navigate.
	onDestroy(page.subscribe(close))

	function close() {
		dispatch('close')
	}

	// Transitions

	const duration = 300
	function showIn(node) {
		return {
			duration,
			tick(t) {
				if (t > 0) {
					node.classList.add('show')
				}
			}
		}
	}

	function offcanvasOut(node) {
		node.classList.add('hiding')

		return {
			duration,
			tick(t) {
				if (t === 0) {
					node.classList.remove('hiding', 'show')
				}
			}
		}
	}

	function backdropOut(node) {
		node.classList.remove('show')
		return {
			duration
		}
	}
</script>

{#if open}
	<aside
		class="offcanvas offcanvas-end"
		in:showIn
		out:offcanvasOut
		aria-hidden={!open}
		aria-modal={open}
		role="dialog"
		tabindex="-1"
	>
		<div class="offcanvas-header">
			<h5 class="offcanvas-title">
				{title}
			</h5>
			<button type="button" class="btn-close" aria-label="Schließen" on:click={close} />
		</div>
		<div class="offcanvas-body">
			<slot />
		</div>
	</aside>

	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<div class="offcanvas-backdrop fade" in:showIn out:backdropOut on:click={close} />
{/if}
