<script>
	import Media from '#lib/Media.svelte'
	import EmbedBox from '#lib/EmbedBox.svelte'
	import Preview from '#lib/Preview.svelte'
	import { shortCount, shortTimeAgo, longDateTime } from '#lib/format'
	import createApiClient from '#lib/api'

	export let other
	export let hasReplyFrom = null
	export let hideReplyTo = false

	const client = createApiClient()

	$: isReother = !!other.reposts
	// if it's a repost, show the data from the original post.
	$: data = other.reposts || other

	$: hasReply = !!hasReplyFrom
	$: isReply = !!data.in_reply_to && !hideReplyTo

	$: hasBadge = isReother || hasReply

	async function onLike() {
		if (data.liked_at) {
			await client.delete(`/others/${data.id}/like`)
			if (data.liked_at) {
				data.liked_at = null
				data.likes_count -= 1
			}
		} else {
			await client.put(`/others/${data.id}/like`)
			if (!data.liked_at) {
				data.liked_at = new Date()
				data.likes_count += 1
			}
		}
	}

	async function onRepost() {
		// unfortunately, we cannot simply rely on a similar reposted_at trick
		// as we can with likes, since reposts are sometimes nested and sometimes aren't.
		// So instead, we try to repost, and if it does not work, we delete?
		// it's not great.

		// the nice thing about this is that I don't have to think about how to
		// indicate reposts in the UI, so that's a little bonus.

		const { ok } = await client.put(`/others/${data.id}/repost`)
		if (ok) {
			data.repost_count += 1
		} else {
			await client.delete(`/others/${data.id}/repost`)
			data.repost_count -= 1
		}
	}
</script>

{#if isReply}
	<svelte:self other={other.in_reply_to} hasReplyFrom={data.othler} />
{/if}

<article class="card other" class:is-reply={isReply} class:has-reply={hasReply}>
	<div class="card-body d-flex">
		<Media {...data.othler.avatar} alt={data.othler.name} className="other-profile-img" />
		<div class="ms-4 align-self-center" class:align-self-center={!hasBadge}>
			{#if isReother}
				<div class="badge other-badge other-badge-reother">
					<i class="bi bi-arrow-repeat" />
					{other.othler.name} re-othert
				</div>
			{:else if hasReply}
				<div class="badge other-badge other-badge-reply">
					<i class="bi bi-arrow-repeat" />
					{hasReplyFrom.name} antwortet
				</div>
			{/if}

			<h5 class="card-title my-1">
				<a class="text-dark" href={`/othlers/${data.othler.handle}`}>
					{data.othler.name}
				</a>
			</h5>
			<h6 class="card-subtitle small text-muted">
				<a href={`/othlers/${data.othler.handle}`}>
					@{data.othler.handle}
				</a>
			</h6>
		</div>
		<div class="text-muted small ms-auto me-2" title={longDateTime(data.created_at)}>
			{shortTimeAgo(data.created_at)}
		</div>
	</div>

	<div class="card-body mx-2 text-break pb-0">
		{@html /* eslint-disable-line svelte/no-at-html-tags */ data.text_html}
	</div>

	{#if data.preview}
		<Preview className="mx-4 mb-3" preview={data.preview} />
	{/if}

	{#if data.embeds.length}
		<EmbedBox className="mx-4 mb-3" embeds={data.embeds} />
	{/if}

	{#if !hasReply}
		<div class="d-flex justify-content-between mx-3 mb-1 text-muted">
			<a
				class="btn btn-sm text-primary"
				title="{data.replies_count} Antworten"
				href={`/others/${data.id}`}
			>
				<i class="bi bi-chat" />
				{shortCount(data.replies_count)}
			</a>
			<button
				class="btn btn-sm text-success"
				title="{data.repost_count} Re-Others"
				on:click={onRepost}
			>
				<i class="bi bi-arrow-repeat" />
				{shortCount(data.repost_count)}
			</button>
			<button class="btn btn-sm text-danger" title="{data.likes_count} Likes" on:click={onLike}>
				<i class="bi" class:bi-heart={!data.liked_at} class:bi-heart-fill={!!data.liked_at} />
				{shortCount(data.likes_count)}
			</button>
			<button class="btn btn-sm text-secondary">
				<i class="bi bi-three-dots" />
			</button>
		</div>
	{/if}
</article>

<style lang="scss">
	.other:not(.has-reply) {
		margin-bottom: 1rem;
	}
	.other:not(.is-reply) {
		margin-top: 1rem;
	}
	.other.has-reply:not(.is-reply) {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.other.is-reply {
		margin-top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.other-badge {
		margin-left: calc(-1 * var(--bs-badge-padding-x));
		background-color: var(--bs-light);
		border-radius: 9999px;
	}

	.other-badge-reother {
		color: $success;
		background-color: shift-color($success, $alert-bg-scale);
	}

	.other-badge-reply {
		color: $primary;
		background-color: shift-color($primary, $alert-bg-scale);
	}

	.other :global(.other-profile-img) {
		--profile-img-size: 78px;
		background-color: white;
		border-radius: 45%;
		border: var(--bs-card-border-width) solid var(--bs-card-border-color);
		width: var(--profile-img-size);
		height: var(--profile-img-size);
		margin-left: -24px;
		object-fit: contain;
	}
</style>
