<script>
	import { createEventDispatcher } from 'svelte'
	import { beforeNavigate } from '$app/navigation'

	import Editor from '#lib/Editor.svelte'
	import PrimaryButton from '#lib/PrimaryButton.svelte'
	import { invalidateAll } from '#lib/Paginated.svelte'

	import createApiClient from '#lib/api'

	export let className = ''
	export let autofocus = false
	export let inReplyTo

	const dispatch = createEventDispatcher()
	const client = createApiClient()

	let value = ''
	let embeds = []
	let loading = false
	let error = ''

	$: canPost = value || embeds.length

	beforeNavigate((navigation) => {
		if (!value && !embeds.length) {
			return
		}

		if (!confirm('Seite wirklich verlassen? Du hast deinen OTHer noch nicht abgesesendet!')) {
			navigation.cancel()
		}
	})

	async function post() {
		if (!canPost) {
			return
		}

		const formData = new FormData()
		formData.append('text', value)
		for (const embed of embeds) {
			formData.append('files', embed.file)
		}

		try {
			loading = true

			const other = inReplyTo
				? await client.post(`/others/${inReplyTo}/replies`, formData)
				: await client.post('/others', formData)

			value = ''
			embeds = []

			invalidateAll()

			dispatch('post', other)
		} catch (err) {
			error = err.message
		} finally {
			loading = false
		}
	}
</script>

<Editor
	placeholder="Was gibt es neues?"
	bind:value
	bind:embeds
	{error}
	{autofocus}
	{className}
	on:post={post}
>
	<PrimaryButton
		type="submit"
		className="mt-2 w-auto"
		icon="vector-pen"
		{loading}
		disabled={!canPost}
	>
		Other
	</PrimaryButton>
</Editor>
