<script>
	import { goto } from '$app/navigation'
	import Media from '#lib/Media.svelte'
	import createApiClient from '#lib/api'
	import { shortCount, longDate } from '#lib/format'

	export let othler
	export let self
	export let short = false

	const client = createApiClient()

	$: isSelf = self && othler.id === self.id

	$: fields = [
		othler.birthday
			? {
					name: 'Geburtstag',
					value: longDate(othler.birthday)
			  }
			: null,

		...othler.fields,

		{
			name: 'OTHler seit',
			value: longDate(othler.created_at)
		}
	].filter(Boolean)

	async function onFollowButton() {
		if (isSelf) {
			return goto('/settings')
		} else if (othler.followed_at) {
			await client.delete(`/othlers/${othler.handle}/followers`)
			// check here to make sure we also run the local side-effect only once
			if (othler.followed_at) {
				othler.followed_at = null
				othler.followed_count -= 1
				self.following_count -= 1
			}
		} else {
			await client.put(`/othlers/${othler.handle}/followers`)
			// check here to make sure we also run the local side-effect only once
			if (!othler.followed_at) {
				othler.followed_at = new Date()
				othler.followed_count += 1
				self.following_count += 1
			}
		}
	}
</script>

<article class="card othler my-4">
	{#if othler.banner}
		<Media {...othler.banner} className="card-img-top othler-banner-img" />
	{:else if othler.avatar}
		<div class="othler-banner-fallback">
			<Media {...othler.avatar} className="card-img-top othler-banner-img" />
		</div>
	{:else}
		<div class="card-img-top othler-banner-img">&nbsp;</div>
	{/if}

	<div class="card-body">
		<div class="d-flex">
			{#if othler.avatar}
				<Media {...othler.avatar} className="othler-profile-img" />
			{/if}

			<div>
				<h5 class="card-title ms-3">
					<a class="text-dark" href={`/othlers/${othler.handle}`}>
						{othler.name}
					</a>
				</h5>
				<h6 class="card-subtitle ms-3 small text-muted">
					<a href={`/othlers/${othler.handle}`}>
						@{othler.handle}
					</a>
				</h6>
			</div>

			<button
				class="btn othler-follow-btn"
				class:btn-primary={!othler.followed_at}
				class:btn-danger={!!othler.followed_at}
				on:click={onFollowButton}
			>
				{#if isSelf}
					Bearbeiten
				{:else if othler.followed_at}
					Entfolgen
				{:else}
					Folgen
				{/if}
			</button>
		</div>
	</div>

	{#if othler.bio_html}
		<div class="card-body mx-2 text-break">
			{@html /* eslint-disable-line svelte/no-at-html-tags */ othler.bio_html}
		</div>
	{/if}

	{#if !short}
		<dl class="list-group list-group-flush">
			{#each fields as field}
				<div class="list-group-item">
					<dt>{field.name}</dt>
					<dd>{field.value}</dd>
				</div>
			{/each}
		</dl>
	{/if}

	<div class="card-footer">
		<a href={`/othlers/${othler.handle}/following`}>
			Folgt: <strong title={othler.following_count}>{shortCount(othler.following_count)}</strong>
		</a>
		<i class="bi bi-dot" />
		<a href={`/othlers/${othler.handle}/followers`}>
			Gefolgt von: <strong title={othler.followed_count}>{shortCount(othler.followed_count)}</strong
			>
		</a>
		<i class="bi bi-dot" />
		Posts: <strong title={othler.posts_count}>{shortCount(othler.posts_count)}</strong>
	</div>
</article>

<style lang="scss">
	.othler {
		& :global(.othler-banner-img) {
			width: 100%;
			height: 200px;
			object-fit: cover;
			background-color: var(--bs-gray-300);
		}

		& .othler-banner-fallback {
			overflow: hidden;

			border-top-left-radius: var(--bs-card-border-radius);
			border-top-right-radius: var(--bs-card-border-radius);

			& :global(.othler-banner-img) {
				filter: blur(25px);
			}
		}

		& :global(.othler-profile-img) {
			--profile-img-size: 96px;
			width: var(--profile-img-size);
			height: var(--profile-img-size);

			padding: 0.25rem;
			margin-top: calc(-0.5 * var(--profile-img-size) - var(--bs-card-spacer-y) - 0.25rem);
			margin-left: -24px;

			border: 1px solid var(--bs-border-color);
			border-radius: 45%;

			background-color: white;
			object-fit: cover;

			z-index: 1; /* needed because of the blur on the fallback */
		}
	}

	.othler-follow-btn {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		margin-left: auto;
	}

	.card-footer {
		color: var(--bs-gray-600);
		text-align: center;
		font-size: 0.875em;

		a {
			color: inherit;
			text-decoration: none;

			&:hover,
			&:focus-visible {
				text-decoration: underline;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		.othler :global(.othler-profile-img) {
			--profile-img-size: 128px;
		}

		.othler-follow-btn {
			position: static;
		}
	}
	@include media-breakpoint-up(md) {
		.othler-follow-btn {
			position: absolute;
		}
	}

	@include media-breakpoint-up(lg) {
		.othler-follow-btn {
			position: static;
		}
	}
</style>
