<script context="module">
	import { writable } from 'svelte/store'

	const signal = writable(1)

	export function invalidateAll() {
		signal.update((n) => n + 1)
	}
</script>

<script>
	import { onDestroy, onMount, tick } from 'svelte'
	import createApiClient from '#lib/api'
	import NotFound from '#lib/NotFound.svelte'

	const client = createApiClient()

	export let src

	let mounted = false

	let intersectionObserver
	let autoReloadSentinel
	onMount(() => {
		mounted = true
		intersectionObserver = new IntersectionObserver(onIntersection, {
			rootMargin: '50%',
			threshold: [0, 1]
		})

		intersectionObserver.observe(autoReloadSentinel)
	})

	onDestroy(() => {
		intersectionObserver?.disconnect()
	})

	let items = []
	let next = null
	let loading = false
	let restored = false

	export const snapshot = {
		capture: () => ({
			items,
			next,
			scrollTop: window.scrollY
		}),

		async restore(state) {
			// SvelteKit calls restore after onMount, so we might have already
			// started loading. If this happens, we set a flag, such that we
			// don't immediately override the data we're about to restore.
			if (loading) {
				restored = true
				loading = false
			}

			items = state.items
			next = state.next

			await tick()
			window.scrollTo({
				top: state.scrollTop,
				behavior: 'instant'
			})
		}
	}

	// fetch the first page when mounted, refetch when the src changes
	// re-fetch when invalidateAll gets called
	$: if (mounted && $signal) {
		items = []
		fetchItems(src, null)
	}

	async function fetchItems(src, key) {
		try {
			loading = true
			const res = await client.get(src, { query: key })
			// if restored is set, snapshot.restore() got called while we where
			// loading. If that is the case, we skip the load.
			if (restored) {
				restored = false
				return
			}

			// we need to avoid updating items if we don't have any,
			// otherwise we constructed an endless loop with the reactive if above.
			if (res.items?.length) {
				items = (items.push(...res.items), items)
				next = res.next
			}
		} finally {
			loading = false
		}
	}

	function onIntersection([entry]) {
		if (entry.isIntersecting && next && !loading) {
			fetchItems(src, next)
		}
	}
</script>

{#each items as item}
	<slot {item} />
{/each}

{#if loading}
	<div class="d-flex justify-content-center">
		<div class="spinner-border text-primary m-5" role="status">
			<span class="visually-hidden"> Lade... </span>
		</div>
	</div>
{/if}

{#if !loading && !items.length}
	<slot name="empty">
		<NotFound />
	</slot>
{/if}

<div bind:this={autoReloadSentinel} />

<style>
	.spinner-border {
		width: 5rem;
		height: 5rem;
	}
</style>
