<script context="module">
	let autoIncrement = 0
</script>

<script>
	import { focus } from '#lib/actions'

	const id = `password-${autoIncrement++}`

	export let value = ''
	export let required = false
	export let autofocus = false
	export let className = ''

	// Password Inputs come in 3 flavors:
	// "current" - a simple, 2-way bound password input
	// "new"     - also a 2-way bound password input, but without autocomplete
	// "confirm" - together with "new", will only check that the input value
	//             is equal to the value prop, without syncing.
	export let type = 'current' // new | current | confirm

	// confirm works like new, since you usually want to confirm a new password
	// or specifically NOT have it autocomplete
	$: autocomplete = type === 'current' ? 'current-password' : 'new-password'

	// only bind the value to the input if we are not confirm
	$: boundValue = type !== 'confirm' ? value : null

	function onInput(ev) {
		if (type !== 'confirm') {
			// only update the value from the input if we are not confirm
			value = ev.target.value
		} else if (value !== ev.target.value) {
			// otherwise, check validity
			ev.target.setCustomValidity('Passwörter stimmen nicht überein!')
		} else {
			ev.target.setCustomValidity('')
		}
	}
</script>

<div class={className}>
	<label for={id} class="form-label text-muted"><slot /></label>
	<input
		{id}
		{required}
		{autocomplete}
		value={boundValue}
		on:input={onInput}
		use:focus={autofocus}
		type="password"
		placeholder="········"
		minlength="8"
		class="form-control"
	/>
</div>
