<script>
	export let preview
	export let className = ''

	$: hostname = new URL(preview.url).hostname
	$: alt = preview.summary || preview.title || hostname
	$: title = preview.title || hostname

	$: hasImage = !!preview.icon_url
</script>

<div class="card preview-card {className}">
	<div class="row g-0">
		{#if hasImage}
			<div class="col-3">
				<img class="preview-img" src={preview.icon_url} {alt} />
			</div>
		{/if}
		<div class:col-9={hasImage}>
			<div class="card-body">
				<h5 class="card-title">{title}</h5>
				{#if preview.summary}
					<p>
						{preview.summary}
					</p>
				{/if}
				<a
					href={preview.url}
					target="_blank"
					rel="nofollow noopener noreferrer"
					class="small stretched-link"
				>
					{hostname}
				</a>
			</div>
		</div>
	</div>
</div>

<style>
	.preview-card {
		overflow: hidden;
		font-size: 0.875rem;
	}

	.preview-img {
		max-width: 100%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
