<script>
	import { createEventDispatcher } from 'svelte'

	export let type = 'button'
	export let className = ''
	export let icon = ''
	export let loading = false
	export let disabled = false

	const dispatch = createEventDispatcher()

	function onClick(ev) {
		if (loading) {
			ev.preventDefault()
			ev.stopPropagation()
		}

		dispatch('click', ev)
	}
</script>

<button
	{type}
	class="btn btn-lg btn-primary w-100 {className}"
	disabled={loading || disabled}
	on:click={onClick}
>
	<slot />

	{#if loading}
		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" />
	{:else}
		<i class="bi bi-{icon}" />
	{/if}
</button>
