<script>
	import { tick } from 'svelte'
	import Paginated from '#lib/Paginated.svelte'
	import Othler from '#lib/Othler.svelte'
	import Other from '#lib/Other.svelte'
	import Tabs from '#lib/Tabs.svelte'
	import Tab from '#lib/Tab.svelte'

	export let othler
	export let self

	$: others = `/othlers/${othler.handle}/others`
	$: othersAndReplies = `/othlers/${othler.handle}/others-and-replies`
	$: embeds = `/othlers/${othler.handle}/embeds`

	let tabState
	let othersState
	let othersAndRepliesState
	let embedsState

	export const snapshot = {
		capture: () => ({
			tabs: tabState.capture(),
			others: othersState?.capture(),
			othersAndReplies: othersAndRepliesState?.capture(),
			embeds: embedsState?.capture()
		}),

		async restore(val) {
			tabState.restore(val.tabs)
			await tick()

			othersState?.restore(val.others)
			othersAndRepliesState?.restore(val.othersAndReplies)
			embedsState?.restore(val.embeds)
		}
	}
</script>

<Othler {self} {othler} />

<Tabs className="mt-5" bind:snapshot={tabState}>
	<Tab title="Posts">
		<Paginated src={others} let:item={other} bind:snapshot={othersState}>
			<Other {other} />
		</Paginated>
	</Tab>

	<Tab title="Antworten">
		<Paginated src={othersAndReplies} let:item={other} bind:snapshot={othersAndRepliesState}>
			<Other {other} />
		</Paginated>
	</Tab>

	<Tab title="Bilder">
		<Paginated src={embeds} let:item={other} bind:snapshot={embedsState}>
			<Other {other} />
		</Paginated>
	</Tab>
</Tabs>
