<script>
	import { getContext, onDestroy } from 'svelte'
	import { key } from './Tabs.svelte'

	export let className = ''
	export let title

	const ctx = getContext(key)
	const idx = ctx.addTab(title)

	$: ctx.setTab(idx, title)
	onDestroy(() => ctx.removeTab(idx))

	// $ctx.activeTab would be interpreted as  store ctx, ctx.get().activeTab
	const activeTab = ctx.activeTab
</script>

{#if idx === $activeTab}
	<div class={className} role="tabpanel">
		<slot />
	</div>
{/if}
