<script context="module">
	export const key = Symbol('tabs')
</script>

<script>
	import { setContext } from 'svelte'
	import { writable } from 'svelte/store'

	export let className = ''

	let tabs = []
	let tabButtonElements = []

	let activeTab = writable(0)

	// make tabs wrap
	$: $activeTab = tabs.length ? $activeTab % tabs.length : 0

	// focus the active taba
	$: tabButtonElements[$activeTab]?.focus()

	export const snapshot = {
		capture: () => $activeTab,
		restore: (val) => ($activeTab = val)
	}

	setContext(key, {
		activeTab,

		addTab(title) {
			tabs = (tabs.push(title), tabs)
			return tabs.length - 1
		},

		setTab(idx, title) {
			tabs[idx] = title
		},

		removeTab(idx) {
			tabs = (tabs.splice(idx, 1), tabs)
		}
	})

	function onKey(ev) {
		switch (ev.key) {
			case 'ArrowLeft':
			case 'ArrowUp':
				ev.preventDefault()
				$activeTab -= 1
				break

			case 'ArrowRight':
			case 'ArrowDown':
				ev.preventDefault()
				$activeTab += 1
				break

			case 'Home':
			case 'PageUp':
				ev.preventDefault()
				$activeTab = 0
				break

			case 'End':
			case 'PageDown':
				ev.preventDefault()
				$activeTab = tabs.length - 1
				break
		}
	}
</script>

<ul class="nav {className}" role="tablist" aria-orientation="horizontal">
	{#each tabs as tab, idx}
		{@const active = idx === $activeTab}
		<li class="nav-item">
			<!-- svelte-ignore a11y-missing-attribute -->
			<a
				class="nav-link"
				class:active
				role="tab"
				aria-selected={active}
				tabindex={active ? 0 : -1}
				on:click={() => ($activeTab = idx)}
				on:keydown={onKey}
				bind:this={tabButtonElements[idx]}
			>
				{tab}
			</a>
		</li>
	{/each}
</ul>
<slot />
