<script context="module">
	let autoIncrement = 0
</script>

<script>
	import { focus } from '#lib/actions'

	const id = `text-${autoIncrement++}`

	export let value = ''
	export let autocomplete = false
	export let required = false
	export let readonly = false
	export let autofocus = false
	export let placeholder = ''
	export let className = ''
	export let pattern
</script>

<div class={className}>
	<label for={id} class="form-label text-muted"><slot /></label>
	<input
		{id}
		type="text"
		{required}
		{readonly}
		{placeholder}
		{autocomplete}
		{pattern}
		use:focus={autofocus}
		bind:value
		class="form-control"
	/>
</div>
