<script>
	import Paginated from '#lib/Paginated.svelte'
	import Other from '#lib/Other.svelte'
	import Editor from '#lib/OtherEditor.svelte'

	import Tabs from '#lib/Tabs.svelte'
	import Tab from '#lib/Tab.svelte'

	export let data

	let repliesState
	export const snapshot = {
		capture: () => repliesState.capture(),
		restore: (state) => repliesState.restore(state)
	}

	function onReply() {
		data.other.replies_count += 1
	}
</script>

<svelte:head>
	<title>Other von {data.other.othler.name} - OTHler</title>
</svelte:head>

<Other other={data.other} />

<Editor className="mt-5" inReplyTo={data.other.id} on:post={onReply} />

<Tabs className="mt-4">
	<Tab title="Kommentare">
		<Paginated
			src={`/others/${data.other.id}/replies`}
			let:item={reply}
			bind:snapshot={repliesState}
		>
			<Other other={reply} hideReplyTo />
		</Paginated>
	</Tab>
</Tabs>
