<script>
	import '../app.scss'
</script>

<!--
	a squircle for clip-paths, I'm not using it right now but I want to save it for the future.
-->

<!-- <svg width="0" height="0">
	<defs>
		<clipPath id="squircle" clipPathUnits="objectBoundingBox">
			<path d="M .5,0 C .15,0 0,.15 0,.5 0,.85 .15,1 .5,1 .85,1 1,.85 1,.5 1,.15 .85,0 .5,0 Z" />
		</clipPath>
	</defs>
</svg> -->

<slot />
