<script>
	import { goto } from '$app/navigation'
	import createApiClient from '#lib/api'

	import Logo from '#lib/Logo.svelte'
	import Checkbox from '#lib/Checkbox.svelte'
	import Password from '#lib/Password.svelte'
	import Text from '#lib/Text.svelte'
	import PrimaryButton from '#lib/PrimaryButton.svelte'

	const STEP_HANDLE = 0
	const STEP_LOGIN = 1
	const STEP_REGISTER = 2
	const STEP_TOS = 3

	const client = createApiClient({ fetch })

	let step = STEP_HANDLE
	let loading = false
	let error = ''

	let handle = ''
	let name = ''
	let password = ''

	$: canNext = isValidHandle(handle)
	$: canLogin = canNext && isValidPassword(password)

	// FIXME: validate passwordAgain!
	$: canRegister = canLogin && name

	// You might think this will be nicer using an array, but it actually makes
	// things more complicated, since we want to have full freedom in our
	// template and embed links, etc.
	let tos1 = false
	let tos2 = false
	let tos3 = false
	let tos4 = false
	let privacyPolicy = false

	$: canEnter = tos1 && tos2 && tos3 && tos4 && privacyPolicy

	function isValidHandle(handle) {
		return /^[a-zA-Z0-9]{1,50}$/.test(handle)
	}

	function isValidPassword(password) {
		return password.length >= 8
	}

	async function submitHandle() {
		if (!canNext) {
			return
		}

		try {
			loading = true
			const check = await client.get('/auth', {
				query: {
					handle
				}
			})

			step = STEP_LOGIN
			name = check.name
		} catch (err) {
			if (err.status === 404) {
				step = STEP_REGISTER
				name = handle
			} else {
				error = err.message
			}
		} finally {
			loading = false
		}
	}

	async function login() {
		if (!canLogin) {
			return
		}

		try {
			loading = true
			await client.put('/auth', {
				handle,
				password
			})
			goto('/home')
		} catch (err) {
			if (err.status === 401) {
				error = 'Anmeldung fehlgeschlagen, bitte überprüfe dein Passwort!'
			} else {
				error = err.message
				console.log(err)
			}
		} finally {
			loading = false
		}
	}

	function register() {
		if (!canRegister) {
			return
		}

		step = STEP_TOS
	}

	async function enter() {
		if (!canEnter) {
			return
		}

		try {
			loading = true
			await client.post('/auth', {
				handle,
				name,
				password
			})
			goto('/home')
		} catch (err) {
			error = err.message
			console.log(err)
		} finally {
			loading = false
		}
	}
</script>

<svelte:head>
	<title>Login - OTHler</title>
</svelte:head>

<div class="container-fluid p-0">
	<div class="row g-0 min-vh-100 bg-light">
		<div class="d-none d-md-block col-4 col-md-5 col-lg-7 col-xxl-8">
			<img class="w-100 h-100 object-contain" src="oth.svg" alt="Logo der OTH Regensburg" />
		</div>
		<div class="col-md-7 col-lg-5 col-xxl-4 d-flex">
			<div class="card align-self-center w-100 mx-2 ms-md-0 me-md-5 p-4">
				{#if step === STEP_HANDLE}
					<h1 class="display-2">
						<Logo size="72" />
						OTHer
					</h1>
					<p class="lead">
						OTHer ist der Ort, an dem du dich mit anderen Studierenden, Dozenten und Mitarbeitern
						der OTH Regensburg verbinden kannst.
					</p>
					<form on:submit={submitHandle}>
						<Text
							required
							autofocus
							autocomplete="username"
							pattern="^[a-zA-Z0-9_]+$"
							bind:value={handle}>Handle:</Text
						>

						{#if error}
							<p class="text-danger small mt-3 mb-0">
								{error}
							</p>
						{/if}
						<PrimaryButton type="submit" className="mt-3" {loading} icon="arrow-right"
							>Weiter</PrimaryButton
						>
					</form>
				{:else if step === STEP_LOGIN}
					<h1 class="display-4">Login</h1>

					<p class="lead">Willkommen zurück, {name}!</p>

					<form on:submit={login}>
						<Text readonly bind:value={handle}>Handle:</Text>
						<Password type="current" className="mt-3" required autofocus bind:value={password}
							>Passwort:</Password
						>

						{#if error}
							<p class="text-danger small mt-3 mb-0">
								{error}
							</p>
						{/if}
						<PrimaryButton type="submit" className="mt-3" {loading} icon="box-arrow-in-right"
							>Login</PrimaryButton
						>
						<button
							class="btn btn-link text-muted btn-sm w-100 mt-1"
							on:click={() => (step = STEP_HANDLE)}
						>
							<i class="bi bi-arrow-left" />
							Zurück
						</button>
					</form>
				{:else if step === STEP_REGISTER}
					<h1 class="display-4">Registrieren</h1>

					<p class="lead">In nur wenigen Schritten kannst du Teil der Community werden.</p>

					<form on:submit={register}>
						<Text readonly bind:value={handle}>Handle:</Text>
						<Text
							className="mt-3"
							placeholder="Max"
							autocomplete="nickname"
							bind:value={name}
							required
							autofocus
						>
							Dein Name:
						</Text>
						<Password className="mt-3" type="new" required bind:value={password}>Passwort:</Password
						>
						<Password className="mt-3" type="confirm" required value={password}
							>Passwort wiederholen:</Password
						>

						{#if error}
							<p class="text-danger small mt-3 mb-0">
								{error}
							</p>
						{/if}
						<PrimaryButton type="submit" className="mt-3" {loading} icon="person-plus">
							Registrieren
						</PrimaryButton>
						<button
							class="btn btn-link text-muted btn-sm w-100 mt-1"
							on:click={() => (step = STEP_HANDLE)}
						>
							<i class="bi bi-arrow-left" />
							Zurück
						</button>
					</form>
				{:else if step === STEP_TOS}
					<h1 class="display-4">Bevor es losgeht</h1>

					<p class="lead">
						Bitte lese unsere Community-Regeln sorgfältig durch. Wir behalten uns vor, dich bei
						misachten unserer Regeln zu sperren.
					</p>

					<form on:submit={enter}>
						<Checkbox required bind:value={tos1}
							>Ich poste keine pornographischen oder gewaltdarstellende Inhalte</Checkbox
						>

						<Checkbox required bind:value={tos2}>
							Ich dulde keinen Rassismus, Sexismus, Homophobie, Transphobie oder
							Ausländerfeindlichkeit
						</Checkbox>

						<Checkbox required bind:value={tos3}>
							Ich verwende keine rechtsextreme Symbole, ich unterstütze keine rechtsextreme
							Vereinigungen
						</Checkbox>

						<Checkbox required bind:value={tos4}>
							Ich belästige keine anderen Nutzer und veröffentliche keine privaten Details anderer
						</Checkbox>

						<Checkbox required bind:value={privacyPolicy}>
							Ich habe die <a href="/privacy-policy" target="_blank">Datenschutzerklärung</a> gelesen
							und verstanden.
						</Checkbox>

						{#if error}
							<p class="text-danger small mt-3 mb-0">
								{error}
							</p>
						{/if}
						<PrimaryButton type="submit" className="mt-3" {loading} icon="box-arrow-in-right">
							Ich bin bereit!
						</PrimaryButton>
						<button
							class="btn btn-link text-muted btn-sm w-100 mt-1"
							on:click={() => (step = STEP_REGISTER)}
						>
							<i class="bi bi-arrow-left" />
							Zurück
						</button>
					</form>
				{/if}
			</div>
		</div>
	</div>
</div>
