<script>
	import Othler from '#lib/Othler.svelte'
	import Paginated from '#lib/Paginated.svelte'

	export let data

	export let paginated
	export const snapshot = {
		capture: () => paginated.capture(),
		restore: (val) => paginated.restore(val)
	}
</script>

<svelte:head>
	<title>Registrierte OTHler - OTHler</title>
</svelte:head>

<h2 class="display-4 ms-2 mt-4 mb-5">Registrierte OTHler</h2>

<Paginated src="/othlers" let:item={othler} bind:snapshot={paginated}>
	<Othler self={data.othler} {othler} short />
</Paginated>
