<script>
	import Paginated from '#lib/Paginated.svelte'
	import Othler from '#lib/Othler.svelte'

	export let data

	let paginated
	export const snapshot = {
		capture: () => paginated.capture(),
		restore: (val) => paginated.restore(val)
	}
</script>

<svelte:head>
	<title>Folgt: {data.othler2.name} - OTHler</title>
</svelte:head>

<h2 class="display-4 ms-2 mt-4 mb-5">Folgt: {data.othler2.name}</h2>

<Paginated
	src={`/othlers/${data.othler2.handle}/followers`}
	let:item={othler}
	bind:snapshot={paginated}
>
	<Othler {othler} self={data.othler} short />
</Paginated>
