<script>
	import NavLink from '#lib/NavLink.svelte'
	export let className = ''
</script>

<nav class={className}>
	<ul class="nav flex-column">
		<NavLink exact href="/" icon="house-door-fill" title="Zurück zur App" />
		<NavLink href="/privacy-policy" icon="shield-shaded" title="Datenschutz" />
		<!-- <NavLink href="/about-server" icon="hdd-stack-fill" title="Über diesen Server" />
		<NavLink href="/about-app" icon="patch-question" title="Über diese App" /> -->
	</ul>
</nav>
