<script>
	import ProfilePage from '#lib/ProfilePage.svelte'

	export let data
</script>

<svelte:head>
	<title>{data.othler2.name} - OTHler</title>
</svelte:head>

<ProfilePage self={data.othler} othler={data.othler2} />
