<script>
	import { page } from '$app/stores'
	import Other from '#lib/Other.svelte'
	import Paginated from '#lib/Paginated.svelte'

	$: tag = $page.params.tag

	let paginatedState
	export const snapshot = {
		capture: () => paginatedState.capture(),
		restore: (val) => paginatedState.restore(val)
	}
</script>

<svelte:head>
	<title>#{tag} - OTHler</title>
</svelte:head>

<h2 class="display-4 ms-2 mt-4 mb-5">#{tag}</h2>

<Paginated src={`/tags/${tag}`} let:item={other} bind:snapshot={paginatedState}>
	<Other {other} />
</Paginated>
