/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Import only what you need from Bootstrap */
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/offcanvas';
@import 'bootstrap/scss/placeholders';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/utilities/api';

.nav-link.active {
	font-weight: bold;
}

.nav-link {
	color: $dark;
	border-radius: 1.675rem;
}

.nav-link:hover {
	color: $nav-link-color;
	background-color: $gray-400;
}

.card-title > a,
.card-subtitle > a {
	color: inherit;
	text-decoration: none;

	&:hover {
		color: var(--bs-dark);
		text-decoration: underline;
	}
}

@import 'bootstrap-icons/font/bootstrap-icons';

@import 'highlight.js/scss/monokai-sublime';

.hljs {
	border-radius: $card-border-radius;
}

@import 'katex/dist/katex.min.css';

.object-contain {
	object-fit: contain !important;
}
.object-cover {
	object-fit: cover !important;
}

.invisible {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
}

.emoji {
	background: transparent;
	height: 1em;
	margin: 0 0.05em 0 0.1em !important;
	vertical-align: -0.1em;
	width: 1em;
}
