/* Variables and mixins declared here will be available in all other SCSS files */
@import 'bootstrap/scss/functions'; /* Override Bootstrap's variables here */
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

$input-border-radius: 1rem;
$btn-border-radius: 1rem;
$btn-border-radius-sm: 0.75rem;
$card-border-radius: 1rem;
$card-border-width: 1px;
$card-inner-border-radius: subtract(1rem, $card-border-width);

$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';
