<script>
	import ProfilePage from '#lib/ProfilePage.svelte'

	export let data

	let profilePageState
	export const snapshot = {
		capture: () => profilePageState.capture(),
		restore: (val) => profilePageState.restore(val)
	}
</script>

<svelte:head>
	<title>Dein Profil - OTHler</title>
</svelte:head>

<ProfilePage othler={data.othler} self={data.othler} bind:snapshot={profilePageState} />
