<script>
	import { tick } from 'svelte'

	import Editor from '#lib/OtherEditor.svelte'
	import NoFollowage from './NoFollowage.svelte'
	import IncompleteProfile from './IncompleteProfile.svelte'

	import Tabs from '#lib/Tabs.svelte'
	import Tab from '#lib/Tab.svelte'
	import Other from '#lib/Other.svelte'
	import Paginated from '#lib/Paginated.svelte'

	export let data

	$: hasFollows = !!data.othler.following_count
	$: hasProfile = data.othler.name && data.othler.avatar && data.othler.bio_markdown

	let tabsState
	let forYouState
	let localTimelineState
	export const snapshot = {
		capture: () => ({
			tabs: tabsState?.capture(),
			forYou: forYouState?.capture(),
			local: localTimelineState?.capture()
		}),

		async restore(state) {
			tabsState?.restore(state.tabs)
			await tick()
			forYouState?.restore(state.forYou)
			localTimelineState?.restore(state.local)
		}
	}
</script>

<svelte:head>
	<title>Home - OTHler</title>
</svelte:head>

<h2 class="display-4 ms-2 mt-4 mb-5">Hallo, {data.othler.name}!</h2>

<Editor className="mb-5" />

<Tabs bind:snapshot={tabsState}>
	<Tab title="Für dich">
		{#if !hasProfile}
			<IncompleteProfile className="mt-4" />
		{/if}

		{#if !hasFollows}
			<NoFollowage className="mt-4" />
		{/if}

		<Paginated src="/timeline" let:item={other} bind:snapshot={forYouState}>
			<Other {other} />
		</Paginated>
	</Tab>
	<Tab title="Alle">
		<Paginated src="/others" let:item={other} bind:snapshot={localTimelineState}>
			<Other {other} />
		</Paginated>
	</Tab>
</Tabs>
