<script>
	import Logo from '#lib/Logo.svelte'

	export let className = ''
</script>

<article class="card {className}">
	<div class="row g-0">
		<div class="col-sm-4 px-3 pe-sm-0">
			<Logo size="100%" />
		</div>
		<div class="col-sm-8">
			<div class="card-body m-3">
				<h4 class="card-title">
					Du hast es fast geschafft! <i class="bi bi-emoji-sunglasses" />
				</h4>
				<p>
					Vervollständige jetzt dein Profil, damit dich andere OTHler besser kennen lernen können!
				</p>
				<a href="/settings" class="btn btn-primary">Jetzt Profil bearbeiten</a>
			</div>
		</div>
	</div>
</article>
