<script>
	import Logo from '#lib/Logo.svelte'

	export let className = ''
</script>

<article class="card {className}">
	<div class="row g-0">
		<div class="col-sm-4 px-3 pe-sm-0">
			<Logo size="100%" />
		</div>
		<div class="col-sm-8">
			<div class="card-body m-3">
				<h4 class="card-title">
					Du folgst noch niemandem <i class="bi bi-emoji-frown" />
				</h4>
				<p>
					Durchstöbere die <a href="/othlers">Liste der Nutzer</a>, gucke dir den lokalen Feed an,
					oder nutze die Suchfunktion um interessante OTHler kennen zu lernen!
				</p>
				<a href="/othlers" class="btn btn-primary">Jetzt Nutzer ansehen</a>
			</div>
		</div>
	</div>
</article>
